In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [53]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
#Importando el CSV
attacks = pd.read_csv(r'C:\Users\floral02\Documents\Projects\Data cleaning\attacks.csv', sep=',', encoding='ISO-8859-1')

In [7]:
#Examinando
attacks.shape

(25723, 24)

In [8]:
#Examinando
attacks.isnull().sum()

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
Unnamed: 22               25722
Unnamed: 23               25721
dtype: int64

In [9]:
#Examinando
attacks.head(1)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN

In [10]:
#Limpieza 1: dropeando registros vacíos
attacks.dropna(subset = ["Date"], inplace=True)
attacks.dropna(subset = ["Year"], inplace=True)

In [11]:
attacks.isnull().sum()

Case Number                  1
Date                         0
Year                         0
Type                         4
Country                     50
Area                       455
Location                   539
Activity                   544
Name                       210
Sex                        565
Age                       2830
Injury                      28
Fatal (Y/N)                538
Time                      3352
Species                   2837
Investigator or Source      17
pdf                          0
href formula                 1
href                         0
Case Number.1                0
Case Number.2                0
original order               0
Unnamed: 22               6299
Unnamed: 23               6298
dtype: int64

In [12]:
#Me quedo con 6300 registros que tienen mayor información que el resto
attacks.shape

(6300, 24)

In [13]:
columnas_nulas = attacks.isnull().sum()
columnas_nulas[columnas_nulas>0]

Case Number                  1
Type                         4
Country                     50
Area                       455
Location                   539
Activity                   544
Name                       210
Sex                        565
Age                       2830
Injury                      28
Fatal (Y/N)                538
Time                      3352
Species                   2837
Investigator or Source      17
href formula                 1
Unnamed: 22               6299
Unnamed: 23               6298
dtype: int64

In [14]:
#Limpieza 2: eliminando dos columnas con más de 3000 registros vacíos
columnas_a_eliminar = list(columnas_nulas[columnas_nulas>3000].index)
attacks = attacks.drop(columnas_a_eliminar, axis = 1)
print(attacks.shape)

(6300, 21)

In [15]:
attacks.head(1)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Injury,Fatal (Y/N),Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,"No injury to occupant, outrigger canoe and pad...",N,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0

In [16]:
attacks['Date'].unique()

array(['25-Jun-2018', '18-Jun-2018', '09-Jun-2018', ..., '1900-1905',
       '1883-1889', '1845-1853'], dtype=object)

In [17]:
attacks['Date'].dtypes

dtype('O')

In [18]:
#Limpieza 3: reemplazando parte de los valores de una columna
attacks['Date'] = attacks['Date'].replace(['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'],
                                          ['01','02','03','04','05','06','07','08','09','10','11','12'],regex=True)

In [19]:
#Limpieza 4: cambiando el Dtype a integer en la columna de "Year"
attacks['Year'] = attacks['Year'].astype(int)

In [20]:
attacks.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6300 entries, 0 to 6301
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             6299 non-null   object
 1   Date                    6300 non-null   object
 2   Year                    6300 non-null   int32
 3   Type                    6296 non-null   object
 4   Country                 6250 non-null   object
 5   Area                    5845 non-null   object
 6   Location                5761 non-null   object
 7   Activity                5756 non-null   object
 8   Name                    6090 non-null   object
 9   Sex                     5735 non-null   object
 10  Age                     3470 non-null   object
 11  Injury                  6272 non-null   object
 12  Fatal (Y/N)             5762 non-null   object
 13  Species                 3463 non-null   object
 14  Investigator or Source  6283 non-null   object
 15  pdf                     6300 non-null   object
 16  href formula            6299 non-null   object
 17  href                    6300 non-null   object
 18  Case Number.1           6300 non-null   object
 19  Case Number.2           6300 non-null   object
 20  original order          6300 non-null   float64
dtypes: float64(1), int32(1), object(19)
memory usage: 1.0+ MB

In [21]:
attacks.head(5)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Injury,Fatal (Y/N),Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
0,2018.06.25,25-06-2018,2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,"No injury to occupant, outrigger canoe and pad...",N,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0
1,2018.06.18,18-06-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,Minor injury to left thigh,N,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0
2,2018.06.09,09-06-2018,2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,Injury to left lower leg from surfboard skeg,N,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0
3,2018.06.08,08-06-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,Minor injury to lower leg,N,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0
4,2018.06.04,04-06-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,Lacerations to leg & hand shark PROVOKED INCIDENT,N,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0

In [22]:
attacks.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6300 entries, 0 to 6301
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             6299 non-null   object
 1   Date                    6300 non-null   object
 2   Year                    6300 non-null   int32
 3   Type                    6296 non-null   object
 4   Country                 6250 non-null   object
 5   Area                    5845 non-null   object
 6   Location                5761 non-null   object
 7   Activity                5756 non-null   object
 8   Name                    6090 non-null   object
 9   Sex                     5735 non-null   object
 10  Age                     3470 non-null   object
 11  Injury                  6272 non-null   object
 12  Fatal (Y/N)             5762 non-null   object
 13  Species                 3463 non-null   object
 14  Investigator or Source  6283 non-null   object
 15  pdf                     6300 non-null   object
 16  href formula            6299 non-null   object
 17  href                    6300 non-null   object
 18  Case Number.1           6300 non-null   object
 19  Case Number.2           6300 non-null   object
 20  original order          6300 non-null   float64
dtypes: float64(1), int32(1), object(19)
memory usage: 1.0+ MB

In [23]:
attacks.head(5)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Injury,Fatal (Y/N),Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
0,2018.06.25,25-06-2018,2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,"No injury to occupant, outrigger canoe and pad...",N,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0
1,2018.06.18,18-06-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,Minor injury to left thigh,N,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0
2,2018.06.09,09-06-2018,2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,Injury to left lower leg from surfboard skeg,N,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0
3,2018.06.08,08-06-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,Minor injury to lower leg,N,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0
4,2018.06.04,04-06-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,Lacerations to leg & hand shark PROVOKED INCIDENT,N,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0

In [24]:
#Limpieza 5: Eliminando espacios del nombre de mis columnas
attacks.columns = attacks.columns.str.replace(' ','')

In [25]:
attacks.columns

Index(['CaseNumber', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal(Y/N)', 'Species',
       'InvestigatororSource', 'pdf', 'hrefformula', 'href', 'CaseNumber.1',
       'CaseNumber.2', 'originalorder'],
      dtype='object')

In [26]:
#Limpieza 6: Eliminando valores basura en la columna Fatal(Y/N). Solo quedarán 'Y', 'N' o NaN
attacks['Fatal(Y/N)'].unique()

array(['N', 'Y', nan, 'M', 'UNKNOWN', '2017', ' N', 'N ', 'y'],
      dtype=object)

In [27]:
attacks['Fatal(Y/N)'] = attacks['Fatal(Y/N)'].str.upper()

In [28]:
attacks['Fatal(Y/N)'].unique()

array(['N', 'Y', nan, 'M', 'UNKNOWN', '2017', ' N', 'N '], dtype=object)

In [29]:
attacks['Fatal(Y/N)'] = attacks['Fatal(Y/N)'].str.replace(' ','')

In [30]:
attacks['Fatal(Y/N)'].unique()

array(['N', 'Y', nan, 'M', 'UNKNOWN', '2017'], dtype=object)

In [31]:
attacks['Fatal(Y/N)'] = attacks['Fatal(Y/N)'].replace('2017',np.nan)

In [32]:
attacks['Fatal(Y/N)'] = attacks['Fatal(Y/N)'].replace('M',np.nan)

In [33]:
attacks['Fatal(Y/N)'] = attacks['Fatal(Y/N)'].replace('UNKNOWN',np.nan)

In [34]:
attacks['Fatal(Y/N)'].unique()

array(['N', 'Y', nan], dtype=object)

In [35]:
attacks['Fatal(Y/N)'].value_counts()

N    4301
Y    1388
Name: Fatal(Y/N), dtype: int64

In [36]:
#Limpieza 7: Agrupando los casos por país
conteo_pais = attacks.groupby(['Country']).agg({'originalorder':'count'}).reset_index()

In [37]:
conteo_pais = conteo_pais.sort_values(['originalorder'], ascending=False)
conteo_pais.head(10)

              Country  originalorder
204               USA           2229
14          AUSTRALIA           1337
171      SOUTH AFRICA            579
145  PAPUA NEW GUINEA            134
127       NEW ZEALAND            128
23             BRAZIL            112
16            BAHAMAS            109
113            MEXICO             89
90              ITALY             71
61               FIJI             62

In [38]:
#Limpieza 8: Agrupando las muertes por país
muertes = attacks.loc[attacks['Fatal(Y/N)'] == 'Y', ['Country', 'Fatal(Y/N)', 'CaseNumber']]

In [39]:
muertes = muertes.groupby(['Country']).agg({'CaseNumber':'count'}).reset_index()

In [40]:
muertes = muertes.sort_values(['CaseNumber'], ascending=False)
muertes.head(10)

              Country  CaseNumber
9           AUSTRALIA         283
140               USA         186
119      SOUTH AFRICA         106
100  PAPUA NEW GUINEA          56
84             MEXICO          43
17             BRAZIL          38
104       PHILIPPINES          35
107           REUNION          29
33               CUBA          24
93        NEW ZEALAND          24

In [41]:
attacks.to_csv('new_attacks.csv')